*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.aboutweb-container{
    width: 100%;
    height: auto;
}
.navbanner-container{
    width: 100%;
    height: auto;
    /* background-color: rgb(45,42,99); */
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(Access-images/AFT-TECH\ FS1000[1].jpg);
}
/* ..............navbar.................. */

.navbar-container{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(45,42,99);
    position: fixed;
    z-index: 1;
}
.navlogo-section{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}
.navlogo-section img{
    width: 70%;
}
.navbar-container label {
    display: none;

}
#checking{
    display: none;
}
.navbar-container label {
    display: none;
}

.nav-items {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-items a{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: whitesmoke;
    text-decoration: none;
}

/* ................banner........................... */
.banner-container{
    width: 100%;
    height:60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    background-image: url(Access-images/banner\ bg_11zon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-container h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 56px;
    color:whitesmoke;
}

/* ................about............................ */

.about-container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    /* background-color:rgb(45,42,99); */
 }
 .about-content{
     width: 55%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     /* background-color: bisque; */
     padding-left: 5%;
     gap: 3%;
     animation: appear  linear;
     animation-timeline: view();
     animation-range: entry 5%;
 }
 .about-content span{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 22px;
     color:rgb(45,42,99);
     font-weight: bold;
 }
 .about-content p{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 22px;
     font-weight: 400;
     /* color: whitesmoke; */
 }
 .about-content button{
     width: 200px;
     height: 50px;
     border: none;
     border-radius: 5px ;
     color: rgb(45,42,99);
     font-family: sans-serif;
     font-size: 16px;
     background-color:whitesmoke;
 }

 .about-imagesection{
     width: 45%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     /* align-items: flex-start; */
     justify-content: center;
     /* background-color: white; */
 }
 .about-imagesection img{
     width: 600px;
     height: 550px;
     /* border-radius: 25px; */
     border:  5px solid rgb(45,42,99);
     padding: 2%;
     animation: appear  linear;
     animation-timeline: view();
     animation-range: entry 5%;
     /* margin-top: 10%; */
 }
 /* ...........................services............................ */
.services {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e9edf5;
}
.service-title{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    /* background-color: antiquewhite; */
}
.services h5 {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(45,42,99);
}
  
.services h2 {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(45,42,99);
}
  
.services-grid {
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
}
  
.service-box {
    width: 400px;
    height: 400px;
    background-color: #002a78;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-size:cover;
    background-repeat: no-repeat;
    filter: blur(1px);
}
  
.service-box p {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    filter: blur(0px);
}

/* .................. details.................. */

.detail-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 3%;
    cursor: pointer;
    transition: transform 0.2s; 

}
.detail-title{
    width: 90%;
    height:10%;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
    color: rgb(45,42,99);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: aqua; */
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 10%;
}
.detailcard-container{
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(42, 51, 216); */
}
.detail-card{
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    /* background-color: rgb(45,42,99); */
    color: whitesmoke;
    /* border-radius: 50%; */
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 5%;
}
.detail-card img{
    width: 80px;
}
.detail-card h2{
    font-size: 62px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 5%;
    color: rgb(45,42,99);
}
.detail-card p{
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 20%;
    color: rgb(45,42,99);
}

/* ................supliers................ */

.suppliers-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background-color: whitesmoke;
}
.suppliers-container h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 56px;
    font-weight: bolder;
    color: rgb(45,42,99);
    /* text-decoration: underline; */
}
.suppliers-combany{
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 5%;
}
/* .................footer........................... */

.footer {
    width: 100%;
    height: 60vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
 }
 
 .footer-content {
     width: 90%;
     height: 80%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     font-family: sans-serif;
     background-color:black;
 }
 .footer-content img{
     width: 25%;
 }
 .footer-section h3 {
     font-size: 1.2em;
     margin-bottom: 4%;
     margin-top: 3%;
     font-weight: bold;
     color: whitesmoke;
 }
 
 .footer-section ul {
     list-style: none;
    
 }
 
 
 .footer-section ul li a {
     color:grey;
     text-decoration: none;
     transition: color 0.3s;
     font-size: 1rem;
     font-weight: bold;
 }
 .footer-section ul li {
     margin-top: 5%;
 }
 
 .contact-info {
     display: flex;
     flex-direction: column;
 }
 
 .contact-info p {
     margin-bottom: 10%;
     font-size: 1rem;
     font-weight: bold;
     color: white;
 }
 .contact-info h3{
     margin-top: 2%;
     margin-bottom: 15%;
 }
 
 .contact-info a {
     color: white;
     text-decoration: none;
 }
 
 .footer-bottom {
     width: 90%;
     height: 20%;
     display: flex;
     align-items: center;
     justify-content: center;
     border-top: 2px solid #444;
     background-color: black;
     color: whitesmoke;
     font-weight: bold;
     font-family: sans-serif;
     font-size: 1rem;
 }
 







 @media (max-width:426px){

        /* nav */

        .navbar-container{
            height: 80px;
        }
      
        .navlogo-section{
            width: 30%;
        }
        .navlogo-section img{
            width: 100px;
        }
        .nav-items {
            display: block;
            position: fixed;
            top: 0;
            right: -100%;
            background-color: rgb(45,42,99);
            width: 60%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
    
        }
    
        .nav-items a {
            line-height: 10px;
        }
    
        .nav-items label {
            position: absolute;
            top: -1%;
            right: 5%;
        }
        .nav-items label img{
            margin-top: 50%;
        }
        .nav-items input {
            display: block;
        }
    
        #checking:checked~.nav-items {
            right: 0;
        }
    
    
        .navbar-container label {
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .navbar-container label img{
            width: 60%;
        }
        /* banner */
        .banner-container{
             height: 50vh;
             font-size: 32px;
        }

        /* about */
        .about-container{
            height: 180vh;
            display: flex;
            flex-direction: column;
        }
        .about-content{
            width: 100%;
            height: 60%;
        }
        .about-imagesection{
            width: 100%;
            height: 45%;
        }
        .about-imagesection img{
            width: 90%;
            height: 90%;
        }

        /* services */

        .services{
            height: 250vh;
        }
        .service-title{
            height: 150px;
        }
        .services-grid{
            height: 85%;
            display: grid;
            grid-template-columns: repeat(1, 4fr);
            display: flex;
            flex-direction: column;
            /* background-color: aqua; */
        }
        .service-box {
            width: 90%;
            height: 30%;
        }

        /* why */

        .detail-container{
            gap: 8%;
            height: 50vh;
        }
        .detail-title{
            font-size: 22px;
        }
        .detailcard-container{
            gap:5%;
        }
    
        .detail-card{
            width: 200px;
            height:200px; 
        }
        .detail-card img{
            width: 40px;
        }
        .detail-card h2{
            font-size: 38px;
        }
        .detail-card p{
            font-size:24px;
        }

        
         /* suppliers */
         .suppliers-container{
             height: 50vh;
        }
         .suppliers-container h2{
            font-size: 32px;
        }
        .suppliers-container img{
            width: 20%;
        }

           /* foooter */
    
        .footer {
            height: auto;
         }
        .footer-content{
            flex-direction: column;
            align-items: flex-start;
    
        }
        .footer-section h3 {
            margin-top: 8%;
        }
        .footer-bottom {
            align-items: center;
            font-size:12px ;
            margin-top: 8%;
            margin-bottom: 5%;
            padding-top: 5%;
        }
}




@media (max-width:376px){
       
        /* about */
        .about-content p{
            font-size: 18px;
        }
        .about-container{
            height: 160vh;
        }
}




@media (max-width:321px){

      /* about */
      .about-content p{
        font-size: 15px;
    }
    .about-container{
        height: 130vh;
    } 

    /* service */
    .services{
        height: 190vh;
    }
    .service-title{
        height: 120px;
    }
    .service-title h5{
        font-size: 16px;
    }
    .service-title h2{
        font-size: 26px;
    }
    .service-box {
        width: 300px;
        height: 300px;
    }

    /* footer */
    
    .footer-bottom{
        font-size: 10px;
    }
}
 



