*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.aboutweb-container{
    width: 100%;
    height: auto;
}

/* ..............navbar.................. */

.navbar-container{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(45,42,99);
    position: fixed;
    z-index: 1;
}
.navlogo-section{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}
.navlogo-section img{
    width: 70%;
}
.navbar-container label {
    display: none;

}
#checking{
    display: none;
}
.navbar-container label {
    display: none;
}

.nav-items {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-items a{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: whitesmoke;
    text-decoration: none;
}
/* ....................gallery.................................. */
.gallery-container{
    width: 100%;
    height: auto;
}
.gallery-title{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: aqua;
    background-image: url(Access-images/gallery-bg.jpg);
    background-size: cover;
}

.grid-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr;
    background-color: white;
}
.item1 {
    grid-column: 1 / 3; /* Occupies first column */
    grid-row: 1 / 4; /* Spans two rows */
    background-color: lightcoral;
    background-image: url(Access-images/gallery-1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item2{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: chartreuse;
    background-image: url(Access-images/gallery-2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item3{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-color: rgb(30, 186, 207);
    background-image: url(Access-images/about-section_11zon.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item4{
    grid-column: 3/ 5;
    grid-row: 2 / 4;
    background-color: rgb(207, 30, 80);
    background-image: url(Access-images/galley-4.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item5{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: rgb(30, 186, 207);
    background-image: url(Access-images/Academia_Mantell_Install_web[1].jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item6{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: chartreuse; 
    background-image: url(Access-images/gallery-6.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item7{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: rgb(86, 15, 192); 
    background-image: url(Access-images/gallery-7.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.item8{
    grid-column: 3 / 5; /* Occupies first column */
    grid-row: 1 / 4; /* Spans two rows */
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Access-images/gallery-8.jpg);
    background-size: cover;
}
.item-content{
    text-align: center;
    color: white;
    opacity: 1;
}
.item-content h3{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item-content p{
    font-size: 18px;
    font-family: sans-serif;
}

/* .................footer........................... */

.footer {
    width: 100%;
    height: 60vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
 }
 
 .footer-content {
     width: 90%;
     height: 80%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     font-family: sans-serif;
     background-color:black;
 }
 .footer-content img{
     width: 25%;
 }
 .footer-section h3 {
     font-size: 1.2em;
     margin-bottom: 4%;
     margin-top: 3%;
     font-weight: bold;
     color: whitesmoke;
 }
 
 .footer-section ul {
     list-style: none;
    
 }
 
 
 .footer-section ul li a {
     color:grey;
     text-decoration: none;
     transition: color 0.3s;
     font-size: 1rem;
     font-weight: bold;
 }
 .footer-section ul li {
     margin-top: 5%;
 }
 
 .contact-info {
     display: flex;
     flex-direction: column;
 }
 
 .contact-info p {
     margin-bottom: 10%;
     font-size: 1rem;
     font-weight: bold;
     color: white;
 }
 .contact-info h3{
     margin-top: 2%;
     margin-bottom: 15%;
 }
 
 .contact-info a {
     color: white;
     text-decoration: none;
 }
 
 .footer-bottom {
     width: 90%;
     height: 20%;
     display: flex;
     align-items: center;
     justify-content: center;
     border-top: 2px solid #444;
     background-color: black;
     color: whitesmoke;
     font-weight: bold;
     font-family: sans-serif;
     font-size: 1rem;
 }




  /* .................................responsive............................................. */

  @media (max-width:426px){
    /* nav */

    .navbar-container{
        height: 80px;
    }
  
    .navlogo-section{
        width: 30%;
    }
    .navlogo-section img{
        width: 100px;
    }
    .nav-items {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgb(45,42,99);
        width: 60%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }

    .nav-items a {
        line-height: 10px;
    }

    .nav-items label {
        position: absolute;
        top: -1%;
        right: 5%;
    }
    .nav-items label img{
        margin-top: 50%;
    }
    .nav-items input {
        display: block;
    }

    #checking:checked~.nav-items {
        right: 0;
    }


    .navbar-container label {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .navbar-container label img{
        width: 60%;
    }

  /* gallery */

  .grid-container{
      height: 200vh;
      grid-template-rows:1fr 1fr 1fr 1fr;
      grid-template-columns:1fr 1fr 1fr 1fr;
      background-color: azure;
  }
  .item1 {
    grid-column: 1 / 5; /* Occupies first column */
    grid-row: 1 /  2;/* Spans two rows */
  }
  .item2{
    grid-column: 1 / 5;
    grid-row: 2/ 3;
  }
  .item3{
    grid-column: 1 / 5;
    grid-row: 3/ 4;
  }
  .item4{
    grid-column: 1 / 5;
    grid-row: 4 / 6;
  }
  .item5{
    grid-column: 1 / 5; /* Occupies first column */
    grid-row: 1 /  2;/* Spans two rows */
  }
  .item6{
    grid-column: 1 / 5;
    grid-row: 2/ 3;
  }
  .item7{
    grid-column: 1 / 5;
    grid-row: 3/ 4;
  }
  .item8{
    grid-column: 1 / 5;
    grid-row: 4 / 6;
  }

    /* foooter */
    
    .footer {
        height: auto;
     }
    .footer-content{
        flex-direction: column;
        align-items: flex-start;

    }
    .footer-section h3 {
        margin-top: 8%;
    }
    .footer-bottom {
        align-items: center;
        font-size:12px ;
        margin-top: 8%;
        margin-bottom: 5%;
        padding-top: 5%;
    }  
}